html,body{
	background-color:#111;
	width:100%;
	height:100%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	margin:0;
	color:#eee;
	line-height: 1.4;
}

a{
	color:#eee;
}

.header {
	background-color: #1c1d1f;
	color: #fff;
	height: 100px;
	width:100%;
}

.header h1{
	margin:0 20px;
	line-height: 100px;
	float:left;
}

.header-logo{
	float:left;
	width:29%;
}

.header-balance{
	float:left;
	width:70%;
}

.header-balance .inner{
	float:right;
	text-align: right;
	padding-top:24px;
}

h5{
	margin:11px 0;
}

input{
	border: none;
	border-radius: 10px;
	font-size: 20px;
	height: 40px;
	padding:0 10px;
	background-color: #1c1d1f;
	color:#eee;
	margin-bottom: 5px;
	text-align: center;

}

.jumbotron-container{
	margin:20px 0 20px;
}

.jumbotron{
	width:33%;
	float:left;
	height:100%;
	text-align: center;
}

.bets{
	margin-bottom: 20px;
}




.seedA-hash{
	display: none;
	visibility: hidden;
}

em{
	font-size: 14px;
}


#result{

}

.green{
	color:#DCFF9B;
}

.red{
	color:#c20000;
}

.orange{
	color:#fc9100;
}


.bets .choose {
	width: 115px;
	height: 58px;
	box-shadow: none;
	background-color: #1c1d1f;
	float: left;
	margin: 0 5px;
}

.choose button {
	 color: #444;
	 outline: 0;
	 border: none;
	 padding: 0;
	 margin: 0;

 }

.bet-choice {
	width: 110px;

}


.place-bet {
	width: 222px;
	margin-top:25px;
	height:40px;
}


.choose p {
	margin: 0!important;
}

button{
	-webkit-appearance: button;
	cursor: pointer;
	font-family: 'Open Sans',Sans-Serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	border-radius: 10px!important;
}

button:hover{
	background-color: #DCFF9B!important;
}

.pre-paid-container{
	margin:10px 0;
}

.full{
	padding:0 40px;
}

#lose{
	display: none;
}

#win{
	display: none;
}

.generating-confirm{
	display: none;
}

.generating-normal,
.generating-wait{
	display: none;
	margin-bottom:20px;
}


.clearfix{clear:both;}


